#contacts {
    margin-top: -360px;
    background: url("../images/bg/contacts-bg.jpg") 50% 50% /cover no-repeat;
    z-index: 3;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        margin-top: -230px;
    }

    &::before {
        content: '';
        @extend %pos;
        background: rgba(#000, .4);
    }

    .section-title {
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 30px;

        .decor {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            z-index: 4;
      
            &-item {
              width: 10px;
              height: 10px;
              background: $primary;
              margin-right: 10px;
              box-shadow: 0px 0px 16px 5px rgba(91, 255, 191, 0.17);
            }
          }
    }
}

.contacts-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 360px 15px 100px;
    max-width: 620px;
    background: rgba(#324550, .9);

    @media (min-width: map_get($grid-breakpoints, sm)) {
        padding: 230px 0 100px;
    }

    .content {
        max-width: 500px;

        ul {

            li {

                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                    color: #fff;

                    .icon {
                        margin-right: 15px;
                        display: flex;
                        
                        svg {
                            fill: #fff;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .title {
        margin-bottom: 30px;
    }

}