#result {
  margin-top: -270px;
  background: url("../images/bg/result-bg.jpg") 50% 50% /cover no-repeat;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    margin-top: -150px;
  }

  &::before {
    content: '';
    @extend %pos;
    background: rgba(#000, .4);
  }
}

.result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 300px 15px 100px;
  max-width: 620px;
  background-image: linear-gradient( 180deg, rgba(91,119,216, .8) 0%, rgba(93,206,206 , .8) 100%);

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 200px 0 100px;
  }

  .content {
    max-width: 470px;

    ul {
      @extend .custom-list;
      @extend .custom-list--primary;

      li {
        margin-bottom: 20px;
      }

      ul {
        @extend .custom-list--secondary;
        margin-top: 20px;
      }
    }
  }

  .title {
    margin-bottom: 30px;
  }

}
