#reviews {
  padding: 100px 0 200px;
  background: url("../images/bg/reviews-bg.jpg") 50% 50% /cover no-repeat;

  .section-title {
    position: relative;
    max-width: 200px;
    margin-bottom: 30px;

    .decor {
      display: flex;
      position: absolute;
      right: -10px;
      bottom: 10px;

      .decor-square {
        margin-right: 10px;
      }
    }
  }

  .slider-arrow {
    position: absolute;
    right: 15px;
    bottom: -20px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      right: 30px;
    }
  }

  &::before {
    content: '';
    @extend %pos;
    background-image: linear-gradient(90deg, rgba(91, 119, 216, 6) 0%, rgba(93, 206, 206, .6) 100%);
  }
}

.reviews-slider {
  width: 100%;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    margin: 0 30px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      flex-direction: row;
      padding-right: 60px;
    }

    .main-content {
      width: 100%;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 60%;
      }

      .quote {
        display: none;
        @media (min-width: map_get($grid-breakpoints, sm)) {
          display: block;
        }

        svg {
          transform: rotate(180deg);
          fill: #c9d4df;
        }
      }

      .text {
        text-align: right;
        margin: 30px 0 20px;
        padding-bottom: 30px;
        border-bottom: 2px solid #b8c5d1;
      }

      .name {
        text-align: right;
      }
    }

    .secondary-content {
      position: relative;
      margin-bottom: 25px;
      width: 100%;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        margin-bottom: 0;
        width: 30%;
      }

      .img {
        position: relative;
        width: 80%;
        height: 225px;
        @extend %img;
        z-index: 4;

        @media (min-width: map_get($grid-breakpoints, sm)) {
          margin: 0;
          width: 100%;
        }
      }

      .decor-img {
        position: absolute;
        top: -20px;
        left: 15px;
        right: -40px;
        bottom: 10px;
        background: rgba(#fff, .3);
        z-index: 3;
      }
    }
  }
}